body{
	width:80%;
	border:20px solid #bdc3c7;
	margin:20px auto;
	padding: 20px;
	font-family: "Source Sans Pro";
	max-width: 700px
}

div.post{
	padding-right: 5px
}
div.post div.date{
	
	/*font-size:18px;*/
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h2{
	color: #2c3e50;
	
	font-size: 2em
}
/**/
p.quote{
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}