p{
	font-family: Raleway;
	font-weight: 800;
	font-size: 20px;
	text-transform: uppercase;
	width:30%;
	border-bottom: 3px solid #f1f1f1;
	padding-bottom: 10px;
}

img{
		float: left;
		width: 30%;
		padding:1.66%;
	}
