body{
/*	text-align: center;*/
}
p{
	border:1px solid grey;
}

div.first{
	border:1px solid blue;
	/*width: 200px*/
	width:20%;
	text-align: center;
	padding: 50px 400px 10px 55px
	/*Norther East South West*/

}

div.second{
	border:1px solid red;
	/*margin:100px;*/
	margin:0 auto;
	text-align: center;
}