h1{
	color:blue;
	font-size:3.0em;

	font-family: "Bellefair";
	text-align: center;

}
body{
	font-family: "Calibri";
	font-size: 16px;
}
#sp1{
	font-size: 1.3em;
	font-weight: bold
}
p{
	font-weight: 200;
	line-height: 1.5
}

div{
	text-decoration:underline,line-through;
	/*text-decoration: line-through;*/
}

p.small {
   font-size: small;
}
p.medium {
   font-size: medium;
}
p.large {
   font-size: large;
}
p.xlarge {
   font-size: x-large;
}

/*FONT STYLE*/

p.normal {
   font-style: normal;
}
p.italic {
   font-style: italic;
}
p.oblique {
   font-style: oblique;
}

/*FONT WEIGHT*/
p.light {   
   font-weight: lighter;
}
p.bold {   
   font-weight: bold;
}
p.bolder {
   font-weight: bolder;
}

/*FONT VARIANT*/
p.normal {
   font-variant: normal;
}
p.small {
   font-variant: small-caps;
}


/*FONT ALIGN*/
p.left {
   text-align: left;
}
p.right {
   text-align: right;
}
p.center {
   text-align: center;
}