h1{

	color:#8c1635;
	border:	 1px solid #FF0000; 
}


h2{
	color: rgba(11,99,150,0.5);
	/*background: #d8d200*/
}

body{

	background: #d8d2d3;
	/*background: url(http://www.graphicsbeam.com/wp-content/uploads/2013/03/Drawn-Wood-Grain-Texture-520x301.jpg);*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/*/
}
}