  /*
 p {
     font-weight: 800;
     font-size: 20px;
     text-transform: uppercase;
     width: 30%;
     border-bottom: 3px solid #f1f1f1;
     padding-bottom: 10px;
     margin-left: 1.66%
 }

img{
		float: left;
		width: 30%;
		padding:1.66%;
	} */
  
  body {
      padding-top: 70px;
      font-family: Raleway;
  }
  
  .jumbotron {
      color: #2c3e50;
      font-size: 16px;
      font-family: Raleway;
  }
  
  .navbar-inverse {
      background-color: #2c3e50;
      color: white;
  }
  
  .navbar-inverse .navbar-nav>li>a {
      color: white;
  }
  
  .navbar-inverse .navbar-brand {
      color: white;
  }