/*Element Selector*/
body {
	text-align: center;
	border: 2px solid pink
}

table{
	border: 1px solid red;
}

td{
	border: 1px solid green;	
}
ul {
	text-align: left;
}
/*ID Selector*/

/*ID Selector has more precedence then */
#special{
	background: yellow;
	text-decoration: underline;
}

/*Class Selector*/
.completed {
	text-decoration: line-through;
}
.ipaddress{
	text-align: left
}


/*Star*/
*{
	padding: 1px
}


/*Desecndent*/

ul li a{
	color: red;
}


/*this will  only select direct children*/
ul > a {
  border: 1px solid black;
}



/*Adjacent*/
h2+ul{
	text-align: center
}

/*Attribute*/
a[href="www.google.com"]{
	background-color: grey
}
/*or*/

a[href*="google"]{
	background-color: grey
}

/*Attribute selector - only a tags with a specified title will be selected*/
a[title] { 
   color: green;
}

input[type="checkbox"]{
	background-color: pink
}

/*Mixed*/
#rows table{
	border:1px solid black;
}
#rows table thead th{
	color: Green;
	border:1px solid black;
}



input[type="checkbox"]:checked{
	margin-left: 50px
}



/*N th*/
#rows table tbody tr:nth-of-type(even){
	background-color: #d8c6c0
}
#rows table tbody tr:nth-of-type(odd){
	background-color: #877069
}

/*Link related*/

a:link { color: red; }
a:visted { color: purple; }
a:hover{border-bottom: 1px solid black;}

/*Make all "checked" checkboxes have a left margin of 50px(margin-left: 50px)*/
input:checked{
	margin-left: 50px
}

/* Make the <label> elements all UPPERCASE without changing the HTML(definitely look this one up*/
label{
	text-transform: uppercase;
}

