h1{
	text-align: center;
	font-family:"Times New Roman";
	font-size: 3.0em
}

table{

/*	width: 300px;
	height: 300px;*/
	margin: auto;
}

td{
	height: 100px;
	width: 100px;
}

td.vertical{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

td.hori{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}


td:hover{
	border:1px solid grey;
}
/*		<tr class="first">
			<td class="noborder"></td>
			<td class="vertical"></td>
			<td class="noborder"></td>
		</tr>
		<tr class="second">
			<td class="hori"></td>
			<td class="all"></td>
			<td class="hori"></td>
		</tr>		
		<tr class="third">
			<td class="noborder"></td>
			<td class="vertical"></td>
			<td class="noborder"></td>*/